div.titlee {
    margin-left: 30px;
    margin-top: 80px;

    font-size: 29px;
    color: rgb(167, 48, 48);
}

hr {
    margin-top: 20px;
    margin-bottom: 52px;
}

div.Google_logo {
    margin-top: 15px;
    margin-left: 15px;

    font-size: 25px;
    width: 400px;
    display: inline-block;
}

div.hub {

    display: inline-block;
    font-size: 20px;
    margin-left: 1330px;

}

a {
    text-decoration: none;

    font-family: sans-serif;

}

span.input {
    margin-left: 30px;



}

input.input_box {
    position: absolute;
    left: 300px;
    width: 300px;
    height: 20px;
}

body {
    background-color: white;
    color: black;
}